body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 3.75rem;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
    color: #11999E;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.bottom-cloud {
  width: 12%;
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  width: 12%;
  position: absolute;
  right: 300px;
  top: 50px;
}
.mountain-img{
  width: 50%;
}
/***********************Middle Container***********************/

.middle-container {
}
.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.music-img {
  width: 25%;
  float: right;
  margin-left: 30px ;
}
.profile-img {
  width: 150px;
  padding-top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr{
  background-color: white;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
} 
.profile{
  padding-bottom: 50px;
}
.skills{
  padding:50px 0 50px 0;
  line-height: 2;
}
.contact-me{
  padding: 50px 0 50px 0;
  line-height: 2;
}

/***********************Bottom Container****************************/


.bottom-container {
  background-color: #66BFBF;
  margin: 0px;
  padding: 50px 0px 10px 0px;
}
.footer-link{
  text-decoration: none;
  color:#084749;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;

}
.footer-link:hover{
  color: #EAF6F6;
}
.copy{
  color:#EAF6F6;
  font-size: 0.75rem;
}
